extends layout

block content
  .main.container
    .row
      .col-md-8.col-md-offset-2
        h1.display-4.m-b-2 About Us
        p We are here to solve the problem of who is going and who is bringing what. 
        p Set up the event details, create a guest list and an item list, and let Bringer do the rest.
        p Bringer even allows guest to encourage others to join, to help with overall turn out with each event. 

        a.btn.btn-info-outline.btn-lg.m-t-1(href='/register') Get Started
